<h1>Learning Angular</h1>
<h2>Data Binding</h2>
<input [(ngModel)]= "name" #ctrl="ngModel" required>
<p>value: {{name}}</p>
<p>Value: {{ctrl.valid}}</p>

<button (click)="setValue()">Set Value</button>
<hr>
<h2>Validation form</h2>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <input name="first" ngModel required #first="ngModel">
  <input name="lastt" ngModel required>
  <input name="twt" ngModel required #t="ngModel">
  <button>Submit</button>
</form>

<p>first name value: {{ first.value }}</p>
<p>first name valid: {{ first.valid }}</p>
<p>firstt name value: {{ t.value }}</p>
<p>firstt name valid: {{ t.valid }}</p>
<p>Form value: {{ f.value | json}}</p>
<p>Form valid: {{ f.valid }}</p>

<app-exercise1  (childEvent)="message=$event" [parentData]="name1" ></app-exercise1>
<h3>{{message}}</h3>

<app-exercise2></app-exercise2>
<app-exercise3></app-exercise3>
<app-exercise4></app-exercise4>
<app-exercise5></app-exercise5>
<router-outlet></router-outlet>