<hr>
<!-- <h1>Property Binding</h1>
<input [id]='myId' type="text" value="test1">
<input [disabled]="true" id='{{myId}}' type="text" value="test1">
<hr>
<h1>Class Binding</h1>
<h2 class="text-success" >teste</h2>
<h2 [class]="successclass">teste</h2>
<h2 [class]="successclass" class="text-special">teste</h2>
<h2 [class.text-danger]="hasError">teste</h2>

<h2 [ngClass]="menssagemClassses">testete</h2>
<hr>
<h1>Style Binding</h1>
<h2 [style.color] =" hasError ? 'red' : 'green' ">teste</h2>
<h2 [ngStyle]="titleStyle">titleStyle</h2>

<hr>
<h1>Evento Binding</h1>
<button (click)="onClick($event)">Green</button>
<button (click)="valor='testendo'">Green</button>
<h2>{{ valor }}</h2>
<hr>
<h1>template variables</h1>
<input #myInput type="text">
<h3 #testa>kao</h3>
<button (click)="onTeste(myInput.value)">log</button>
<button (click)="onTeste(testa)">H2</button> -->

<hr>
<h1>Component Interaction</h1>
<h2>
    {{"Hello " + name1}}
</h2>
<button (click)=fireEvent()>Send Event</button>
